@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Inconsolata:wght@200..900&family=M+PLUS+Rounded+1c&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Yrsa:ital,wght@0,300..700;1,300..700&display=swap');

* {
    font-family: "Work Sans", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bg: #fff;
    --primerColor: #39a900;
    --segundoColor: #00304d;
    --textColor: #4b4b4b;
    --colorBorderTop: #4b4b4b;
    --textColorTwo: white;
    --bgGobierno: #285ec3;
    --color-fondo: #fff;
    --cardShadow: rgba(47, 47, 47, 0.821);
    --color-superficie: rgba(236, 236, 236, 0.4);
    --color-acento: #39a900;
    --color-acento1: yellow;
    --color-acento2: #39a900;
    --color-resto: #b9b9b9;
    --radio: 14px;
    --gap: 14px;
    --bg-btn-theme: rgb(220, 220, 220);
    --btn-theme-light-dark: #616161;
    --form: rgba(222, 222, 222, 0.901);
}

.darkmode {
    --bg: #343434;
    --primerColor: #39a900;
    --segundoColor: #00304d;
    --textColor: #ffffff;
    --colorBorderTop: #39a900;
    --color-superficie: rgba(34, 34, 34, 0.4);
    --btn-theme-light-dark: rgb(220, 220, 220);
    --form: rgba(59, 59, 59, 0.901);
    --bg-btn-theme: #616161;
}

#theme-switch {
    height: 40px;
    width: 100px;
    border: none;
    background-color: var(--bg);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 11;
    position: fixed;
    top: 0;
    right: 0;
}

#theme-switch svg {
    fill: var(--btn-theme-light-dark);
}

#theme-switch svg:last-child {
    display: none;
}

.darkmode #theme-switch svg:first-child {
    display: none;
}

.darkmode #theme-switch svg:last-child {
    display: block;
}

/* ------------------------------------------------
    RADIO 
---------------------------------------------------*/
.audioSENA-RA {
    background-color: #39a900;
    padding: 10px;
    border-radius: 0;
    z-index: 30;
    position: fixed;
    bottom: 0;
    left: 0;
}

/* ------------------------------------------
    HEADER : GOV
--------------------------------------------- */
header {
    width: 100%;
    background-color: var(--bgGobierno);
    display: flex;
    justify-content: center;
    z-index: 10;
    position: fixed;
    top: 0;
}

.contenBosGov {
    width: 80%;
    height: 40px;
    padding: 8px 0;
}

.boxGov {
    width: 100px;
    height: 20px;
    position: relative;
}

.boxGov img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 1;
}


/* BOX LOGOS */
.boxSENAyGov {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 30;
    position: fixed;
    top: 40px;
    /* background-color: var(--bg); */
}

.boxSENAyGovDown {
    background-color: var(--bg);
}


.senaLogo {
    width: 100px;
    height: 100px;
}

.senaLogo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.govLogo {
    width: 150px;
    height: auto;
    padding: 50px 0;
}

.govLogo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


/* --------------------------------------------------------
    NavBar fijada en la parte inferior de la pagina
------------------------------------------------------------ */
.boxNavBar {
    width: 100%;
    height: auto;
    z-index: 10;
    position: fixed;
    top: 690px;
    box-shadow: 0 0 5px var(--textColor);
    transition: 0.5s;
}

.navAbajo {
    position: fixed;
    top: 190px;
    background-color: var(--bg);
    box-shadow: 0 0 5px var(--textColor);
}

.navAbajo a {
    color: var(--textColor);
}

nav {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

nav ul {
    width: 100%;
    height: auto;
    list-style: none;
}

.btn-nav {
    display: none;
}

nav li {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 10px;
}


nav a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    height: auto;
    text-decoration: none;
    font-size: 0.9rem;
    color: var(--textColor);
    transition: 0.2s linear;
}

nav a:hover {
    border-bottom: 2px solid var(--primerColor);
    font-weight: bold;
}

#open-SideBar-btn {
    transition: 0.5s;
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

#open-SideBar-btn i {
    color: var(--primerColor);
    font-size: 4dvb;
}

#close-SideBar-btn {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

#close-SideBar-btn i {
    font-size: 4dvb;
}

#overlay {
    background: rgb(0, 0, 0, 0.5);
    position: fixed;
    inset: 0;
    z-index: 9;
    display: none;
}

/* ----------------
CONTENIDO
------------------*/
main {
    position: relative;
    top: 200px;
    background-color: var(--bg);
}

.sliderSenaRa {
    height: 650px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    top: -160px;
}

.sliderSenaRa::before {
    z-index: 1;
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.sliderSenaRa #imgSlider {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.img-slider {
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}

.img-slider.imgSliderActive {
    clip-path: circle(150% at 0 50%);
    transition: 2s ease-in-out;
    transition-property: clip-path;
}

.boxSliderInfo {
    width: 100%;
    height: auto;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* ----------------------------------------
    AUDIO SENA-RA
------------------------------------------- */
.logoSenaRa {
    width: 100px;
    height: 100px;
    position: relative;
    top: 60%;
    left: 0%;
    transform: translate(0, -50%);
}

.logoSenaRa img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.boxMensaje {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.mensaje {
    width: 60%;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
    justify-content: flex-start;
}

.textMensaje {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--textColorTwo);
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
}

.boton-controlSena-RA {
    display: inline-grid;
    place-items: center;
    width: 42px;
    height: 42px;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: transform .08s ease, background .2s ease, border-color .2s ease, opacity .2s ease;
    user-select: none;
}

.boton-controlSena-RA:hover {
    border: 3px solid var(--color-resto);
}

.boton-principalSena-RA {
    width: 60px;
    height: 60px;
    color: #fff;
    border: 1px solid #fff;
    font-weight: 700;
}

.boton-principalSena-RA:hover {
    filter: brightness(1.05)
}

.icono-grandeSena-RA {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}


/* -----------------------------------------------------
    SLIDER
-------------------------------------------------------- */
.slider-navegation {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.8);
}

.slider-navegation .btn-nav-slider {
    width: 30px;
    height: 6px;
    border-radius: 2px;
    background: #fff;
    cursor: pointer;
    margin-right: 12px;
}

.btn-nav-slider:hover {
    transform: scale(1.2);
}

.btn-nav-slider.btnSliderActive {
    background-color: #39a900;
}

/* ----------------------------------------
    REPRODUCTRO 
------------------------------------------*/

.boxEscucharMas {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0 20px 0;
}

.boxTitleEscuchar {
    width: 980px;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top: 2px solid var(--colorBorderTop);
    z-index: 0;
}

.titleEscucharMas {
    color: var(--primerColor);
    font-size: 2rem;
    font-weight: 400;
}

/* -----------------------------------------
    REPRODUCTOR DE AUDIO
-------------------------------------------- */
.contenedor-reproductor {
    width: 980px;
    height: auto;
    background: var(--color-superficie);
    padding: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--textColor);
    position: relative;
    left: 50%;
    transform: translate(-50%, -0%);
    margin-bottom: 50px;
}

.portada {
    width: 200px;
    aspect-ratio: 1/1;
    object-fit: cover;
    background: var(--segundoColor);
}

.bloque-informacion {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 50px;
    min-height: 250px;
    width: 100%;
}

.boxTextoActualAudio {
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
}

.texto-descripcion {
    text-align: left;
    color: var(--textColor);
    line-height: 1.45;
    font-size: 1.1rem;
    font-weight: bold;
}

.fila-controles {
    grid-area: controles;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    width: 100%;
}

.boton-control {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    background-color: transparent;
    color: var(--btn-theme-light-dark);
    border: none;
    border-radius: 5px;
    color: var(--textColor);
    cursor: pointer;
    transition: transform .08s ease, background .2s ease, border-color .2s ease, opacity .2s ease;
    user-select: none;
}

.boton-control:hover {
    border: 1px solid var(--color-resto);
}

.boton-control:active {
    transform: scale(.96)
}

.boton-principal:hover {
    filter: brightness(1.05)
}


.grupo-volumen {
    display: flex;
    align-items: center;
    gap: 10px;
    min-width: 180px;
}

.etiqueta-tiempo {
    font-variant-numeric: tabular-nums;
    font-size: .9rem;
    color: var(--textColor);
}

.fila-progreso {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 450px;
}

/* ---------------------------------------------------------------
    Controles tipo range con dos colores (progreso y resto)
------------------------------------------------------------------ */
.control-range {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 999px;
    background: linear-gradient(90deg, var(--color-acento1) 0%, var(--color-acento2) 0%, var(--color-resto) 0%, var(--color-resto) 100%);
    outline: none;
    transition: filter .15s ease;
}

.control-range:hover {
    filter: brightness(1.05)
}

/* -------------------------------------------------------------------
    BAVEGADOR EDGE
---------------------------------------------------------------------- */
.control-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #fff;
    border: 3px solid var(--color-acento);
    cursor: pointer;
}

.control-range.volumen::-webkit-slider-thumb {
    border-color: #39a900;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.222);
}

/* -------------------------------------------------------------------
    BAVEGADOR MOZILLA FIREFOX
---------------------------------------------------------------------- */
.control-range::-moz-range-thumb {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #ffffff;
    border: 3px solid #39a900;
    cursor: pointer;
}

.control-range.volumen {
    height: 5px;
    width: 80px;
    background: linear-gradient(90deg, #5a5a5a 0%, #fff 50%);
    border-radius: 999px;
}

.control-range.volumen::-moz-range-thumb {
    border-color: #39a900;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, .18);
}


/* Iconos SVG */
.icono {
    width: 22px;
    height: 22px;
    font-size: 20px;
    fill: currentColor;
    display: flex;
    align-items: center;
    justify-content: center;
    ;
}

.icono-grande {
    width: 24px;
    height: 24px;
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
}



/* ---------------------------------------
    AUDIO
------------------------------------------ */
.boxGlobaAudio {
    width: 100%;
    height: auto;
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: none;
}

.boxGalleryAudio {
    width: 980px;
    height: auto;
    overflow-x: scroll;
    scroll-behavior: smooth;
    gap: 30px;
    padding: 20px 0;
}

.boxGalleryAudio::-webkit-scrollbar {
    height: 15px;
    padding: 0 20px;
    background-color: transparent;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 10px;
}

.boxGalleryAudio::-webkit-scrollbar-thumb {
    background-color: rgb(220, 220, 220);
    border-radius: 10px;
}

.titleAudiosGlobal {
    color: var(--primerColor);
    height: auto;
    font-size: 2rem;
    font-weight: bold;
    padding: 20px 0 20px 0;
    border-top: 2px solid var(--colorBorderTop);
    width: 980px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.list-audios {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 20px;
    gap: 60px;
    padding: 0 20px;
}

.list-audios li {
    list-style: none;
    cursor: pointer;
    flex: 0 0 auto;
}

.list-audios li a {
    text-decoration: none;
}

.cardAudio {
    width: 200px;
    height: auto;
    border-bottom: 2px solid var(--textColor);
}

.cardImgAudio {
    width: 100%;
    height: 200px;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.6);
}


.cardImgAudio img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.textAudio {
    width: 100%;
    height: auto;
    padding: 30px 10px;
}

.textA {
    font-weight: 300;
    font-size: medium;
    color: var(--textColor);
}

.textA:hover {
    text-decoration: underline;
}

/* -------------------------------------
    FOOTER
---------------------------------------- */
footer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    position: relative;
    bottom: -180px;
}

.box-footer {
    width: 980px;
    height: auto;
    padding: 10px;
    display: flex;
    align-items: center;
    border-top: 2px solid black;
}

.footer-text {
    width: 60%;
    height: auto;
}

.footer-title {
    width: 100%;
    height: auto;
}

.f-title {
    font-size: 20px;
    color: #4b4b4b;
}

.box-f-logos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.f-subtitle {
    font-size: 1rem;
    color: #4b4b4b;
}

.f-mas-text {
    width: 80%;
    height: auto;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    color: #5d5d5d;
    font-size: 13px;
}

.link-contacto {
    color: var(--bgGobierno);
    text-decoration: none;
}

.link-contacto:hover {
    text-decoration: underline;
}

.puntos-atencion {
    color: var(--bgGobierno);
    text-decoration: none;
}

.puntos-atencion:hover {
    text-decoration: underline;
}


.footer-logos {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.f-box-logo-sena {
    width: 100px;
    height: 100px;
}

.f-box-logo-sena img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.f-box-logos-icontec {
    width: 300px;
    height: 100px;
}

.f-box-logos-icontec img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#f-gov {
    display: flex;
    align-items: center;
    padding: 0;
    position: relative;
    bottom: -180px;
    background-color: var(--bgGobierno);
}


@media only screen and (max-width: 600px) {
    #theme-switch {
        width: 50px;
    }

    .boxLogos {
        position: relative;
        top: -88px;
    }

    .boxSENAyGov {
        width: 100%;
        height: 110px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 5px;
        z-index: 2;
    }

    .boxSENAyGov.abajo {
        position: fixed;
        background-color: var(--bg);
        display: flex;
        flex-direction: row;
        top: 40px;
        height: 100px;
        z-index: 10;
    }

    .senaLogo {
        width: 60px;
        height: 60px;
    }

    .senaLogo img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        z-index: 1;
    }

    .govLogo {
        width: 100px;
        height: auto;
        padding: 50px 0;
    }

    .govLogo img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    /* ---------------------------------------------
        NAVBAR
    ------------------------------------------------*/
    /* Navegación en la parte inferior de la web */

    #open-SideBar-btn {
        display: flex;
        align-items: center;
        background-color: var(--bg);
        height: 40px;
        position: fixed;
        top: 440px;
        z-index: 100;
        width: 100%;
    }

    #open-SideBar-btn.btnNavBarDown {
        position: fixed;
        top: 150px;
    }

    .boxNavBar {
        width: 100%;
        height: auto;
    }

    nav {
        position: fixed;
        bottom: -100%;
        top: -100%;
        height: 100%;
        width: 100%;
        background-color: var(--bg);
        transition: bottom 400ms ease-out;
        z-index: 100;
        display: flex;
        align-items: start;
    }

    nav.show {
        top: 40px;
        height: auto;
    }

    nav.show~#overlay {
        display: block;
    }

    nav ul {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    nav .inicio-li {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    nav a {
        width: 100%;
        height: 30px;
        background: rgba(0, 0, 0, 0.1);
        padding: 5px;
    }

    #close-SideBar-btn {
        display: flex;
        padding: 10px;
    }

    #close-SideBar-btn i {
        color: var(--textColor);
        font-size: 1.5em;
    }


    .boxMensaje {
        width: 100%;
        height: auto;
        padding-left: 0;
    }

    .boxMensaje i {
        font-size: 2rem;
    }

    .mensaje {
        width: 50%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 0;
        padding: 10px;
    }

    .textMensaje {
        font-size: 1.2rem;
        font-weight: 600;
        color: var(--textColorTwo);
    }

    /* ESCUCHAR MAS */
    main {
        position: relative;
        top: 40px;
    }

    .boxTitleEscuchar {
        width: 80%;
        height: 50px;
    }

    .titleEscuchar {
        font-size: 1.6rem;
    }

    .sliderSenaRa {
        height: 400px;
        width: 100%;
        position: relative;
        top: 0;
    }

    .boxSliderInfo {
        height: 80px;
    }

    .boxMensaje {
        padding: 0 10px;
    }

    .mensaje {
        width: 50%;
        height: auto;
        padding: 10px;
    }

    .textMensaje {
        font-size: 1rem;
    }

    .slider-navegation .btn-nav-slider {
        height: 10px;
        margin-right: 20px;
    }

    /* -----------------------------------------
        REPRODUCTOR DE AUDIO
    ---------------------------------------- */
    .contenedor-reproductor {
        width: 80%;
        height: auto;
        background: var(--color-superficie);
        display: flex;
        flex-direction: column;
    }

    .bloque-informacion {
        display: flex;
        flex-direction: column-reverse;
    }

    .boxTextoActualAudio {
        width: 100%;
        height: auto;
    }

    .portada {
        width: 100%;
        max-width: 200px;
        justify-self: center
    }

    .texto-titulo {
        font-size: 1rem;
    }

    .texto-descripcion {
        font-size: 1rem;
        height: auto;
    }

    .fila-controles {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .grupo-volumen {
        min-width: 0
    }

    .separador-flex {
        display: none
    }


    /* -----------------------------------------
        AUDIOS  
    -------------------------------------------- */
    .titleAudiosGlobal {
        width: 80%;
        font-size: 1.5rem;
    }

    .boxGalleryAudio {
        width: 95%;
    }

    /* ---------------------------------------------
    VISTAS AUDIOS
------------------------------------------------ */
    .view {
        width: 80%;
        height: auto;
        background-color: var(--segundoColor);
        padding: 20px 10px;
        margin-bottom: 50px;
        gap: 10px;
    }

    #imagenAudio {
        width: 90%;
        height: 200px;
        object-fit: cover;
        border-radius: 10px;
    }

    #audio-title {
        color: white;
        font-size: 1.5rem;
        font-weight: bold;
    }

    .infoAudio p {
        color: white;
    }

    #back-btn {
        background: none;
        border: none;
        color: white;
        padding: 5px;
        font-size: 2rem;
    }

    /* -------------------------------------------
    BARRA DE PROGRESO PARA AUDIOS DE FORMACIÓN
---------------------------------------------- */
    .fila-controles-audios-formacion {
        grid-area: controles;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        padding: 10px;
        width: 80%;
    }

    /* FOOTER */
    footer {
        position: relative;
        bottom: 20px;
    }

    .box-footer {
        width: 90%;
        height: auto;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-top: 2px solid black;
        position: relative;
        bottom: -40px;
    }

    .footer-text {
        width: 100%;
        height: auto;
    }

    .f-box-logo-sena {
        width: 90%;
        height: 100px;
    }

    .f-box-logo-sena img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .f-box-logos-icontec {
        width: 90%;
        height: 100px;
    }

    .f-box-logos-icontec img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    #f-gov {
        position: relative;
        bottom: 0;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1100px) {

    .boxSENAyGov.abajo {
        background-color: white;
        position: fixed;
        top: 39px;
        height: 100px;
    }


    /* NavBar fijada en la parte inferior de la pagina */
    .boxNavBar {
        width: 100%;
        height: auto;
        position: fixed;
        top: 540px;
    }

    .boxNavBar.navAbajo {
        position: fixed;
        top: 197px;
        border-top: 1px solid black;
    }

    nav {
        width: 100%;
        height: 88px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }

    nav ul {
        width: 100%;
        height: auto;
        list-style: none;
        padding: 10px;
    }

    .btn-nav {
        display: none;
    }

    nav li {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    nav a {
        padding: 2px;
        font-size: 0.7rem;
    }

    main {
        position: relative;
        top: 40px;
    }

    .sliderSenaRa {
        height: 500px;
        width: 100%;
        position: relative;
        top: 0;
    }

    .boxSliderInfo {
        height: 100px;
    }

    .boxMensaje {
        padding: 0 10px;
    }

    .mensaje {
        width: 50%;
        height: auto;
        padding: 20px;
    }

    .textMensaje {
        font-size: 1.3rem;
    }

    .boxEscucharMas {
        padding-top: 100px;
    }

    /* -----------------------------------------
        REPRODUCTOR DE AUDIO
    -------------------------------------------- */
    .contenedor-reproductor {
        width: 90%;
        height: auto;
        background: var(--color-superficie);
    }

    .portada {
        width: 100%;
        max-width: 200px;
        justify-self: center
    }

    .grupo-volumen {
        min-width: 0
    }

    .separador-flex {
        display: none
    }


    /* ------------------------
        AUDIOS
    --------------------------- */
    .boxTitleEscuchar {
        width: 90%;
        height: 50px;
    }

    .titleEscucharMas {
        color: var(--primerColor);
        font-size: 2rem;
        font-weight: 400;
    }

    .titleAudiosGlobal {
        color: var(--primerColor);
        height: auto;
        font-size: 2rem;
        width: 90%;
    }

    .boxGalleryAudio {
        width: 90%;
        height: auto;
        overflow-x: scroll;
        scroll-behavior: smooth;
        gap: 30px;
    }

    .cardAudio {
        width: 150px;
        height: auto;
    }

    .cardImgAudio {
        width: 100%;
        height: 150px;
    }

    /* ---------------------------------------
        VISTAS AUDIOS
    ------------------------------------------ */
    .view {
        width: 85%;
        height: auto;
        padding: 0;
        margin-bottom: 50px;
    }

    .imgAudioInfo {
        width: 80%;
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }

    #audio-title {
        color: var(--primerColor);
        font-size: 1.3rem;
        font-weight: 500;
        text-align: center;
    }

    #imagenAudio {
        width: 100%;
        height: 200px;
        object-fit: contain;
    }

    .infoAudio {
        width: 100%;
        height: auto;
        padding: 20px;
    }



    /* FOOTER */
    footer {
        position: relative;
        bottom: -20px;
    }

    .box-footer {
        width: 90%;
        height: auto;
        padding: 10px;
        display: flex;
        align-items: center;
        border-top: 2px solid black;
    }

    .f-box-logo-sena {
        width: 100%;
        height: 100px;
    }

    .f-box-logo-sena img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .f-box-logos-icontec {
        width: 100%;
        height: 100px;
    }

    .f-box-logos-icontec img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    #f-gov {
        position: relative;
        bottom: 0;
    }
}