main {
    padding-bottom: 50px;
}

/* ---------------------------------------------
    VISTAS AUDIOS
------------------------------------------------ */
#back-btn {
    background: none;
    border: none;
    color: var(--primerColor);
    padding: 5px;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    width: 100px;
    height: 40px;
    transition: all .5s;
}

#back-btn:hover {
    font-size: 2.3rem;
}

.title-f-view {
    width: 980PX;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    padding-top: 50px;
}

.title-f-view h1 {
    font-size: 2rem;
    font-weight: bold;
    color: var(--primerColor);
    border-top: 2PX solid var(--textColor);
    padding: 20px 0 20px 0;
}

.view {
    width: 980px;
    height: auto;
    background-color: var(--color-superficie);
    padding: 20px 10px;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.contenedor-reproductor {
    background: var(--color-superficie);
    padding: 18px;
    display: flex;
    flex-direction: column;
    grid-template-areas:
        "portada titulo"
        "portada controles"
        "portada progreso";
    gap: var(--gap);
    position: relative;
    left: 50%;
    transform: translate(-50%, -0%);
}

.portada {
    grid-area: portada;
    width: 30%;
    aspect-ratio: 1/1;
    object-fit: cover;
    background: #00304d;
}

.bloque-informacion {
    grid-area: titulo;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
    min-height: 72px;
}

.boxTextoActualAudio {
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.texto-titulo {
    margin: 0;
    font-size: 1.25rem;
    font-weight: 700;
    width: 100%;
    height: 50px;
    letter-spacing: .2px;
    color: #39a900;
}

.texto-descripcion {
    margin: 0;
    color: var(--textColor);
    line-height: 1.45;
    font-size: .95rem;
    height: 150px;
}

.fila-controles {
    grid-area: controles;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.boton-control {
    display: inline-grid;
    place-items: center;
    width: 42px;
    height: 42px;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    color: var(--textColor);
    cursor: pointer;
    transition: transform .08s ease, background .2s ease, border-color .2s ease, opacity .2s ease;
    user-select: none;
}

.boton-control:hover {
    border: 1px solid var(--color-resto);
}

.boton-control:active {
    transform: scale(.96)
}

.boton-principal {
    width: 40px;
    height: 40px;
    background: var(--color-acento);
    color: white;
    font-weight: 700;
}

.boton-principal:hover {
    filter: brightness(1.05)
}


.grupo-volumen {
    display: flex;
    align-items: center;
    gap: 10px;
    min-width: 180px;
}

.etiqueta-tiempo {
    font-variant-numeric: tabular-nums;
    font-size: .9rem;
    color: var(--textColor);
}

.fila-progreso {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 450px;
}

/* Controles tipo range con dos colores (progreso y resto) */
.control-range {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 999px;
    background: linear-gradient(90deg, var(--color-acento1) 0%, var(--color-acento2) 0%, var(--color-resto) 0%, var(--color-resto) 100%);
    outline: none;
    transition: filter .15s ease;
}

.control-range:hover {
    filter: brightness(1.05)
}

.control-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #fff;
    border: 3px solid var(--color-acento);
    cursor: pointer;
}

.control-range::-moz-range-thumb {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #5a5a5a;
    cursor: pointer;
}

.control-range.volumen {
    height: 5px;
    width: 80px;
    background: linear-gradient(90deg, #5a5a5a 0%, #fff 50%);
    border-radius: 999px;
}

.control-range.volumen::-webkit-slider-thumb {
    border-color: #39a900;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, .18);
}

.control-range.volumen::-moz-range-thumb {
    border-color: #5a5a5a;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, .18);
}

/* Iconos SVG */
.icono {
    width: 22px;
    height: 22px;
    fill: currentColor
}

.icono-grande {
    width: 24px;
    height: 24px
}

/* -----------------------------------------------------
    PLAYLIST CAMPESENA
-------------------------------------------------------- */
.playlistAudios {
    width: 980px;
    height: auto;
    background-color: var(--color-superficie);
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 20px;
    top: -50px;
}

.title-playlist {
    color: var(--primerColor);
    padding: 20px 0;
}

.items-playlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    gap: 10px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 300px;
    padding: 10px 5px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.itemsForma {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.5s;
}

.itemsForma:hover {
    background-color: #39a900;
}

.itemsForma a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding-left: 15px;
}

.itemsForma img {
    width: 100px;
    height: 100%;
    object-fit: cover;
}

@media only screen and (max-width: 600px) {
    #theme-switch {
        width: 50px;
    }

    .boxLogos {
        position: relative;
        top: -88px;
    }

    .boxSENAyGov {
        width: 100%;
        height: 110px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 5px;
        z-index: 2;
    }

    .senaLogo {
        width: 60px;
        height: 60px;
    }

    .senaLogo img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        z-index: 1;
    }

    .govLogo {
        width: 100px;
        height: auto;
        padding: 50px 0;
    }

    .govLogo img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    /* ---------------------------------------------
        NAVBAR
    ------------------------------------------------*/
    /* Navegación en la parte inferior de la web */

    #open-SideBar-btn {
        display: flex;
        background-color: var(--bg);
        height: 40px;
        position: fixed;
        top: 144px;
        z-index: 100;
        width: 100%;
    }

    .boxNavBar {
        width: 100%;
        height: auto;
        position: absolute;
        top: 39px;
    }

    nav {
        position: fixed;
        bottom: -100%;
        top: -100%;
        height: 100%;
        width: 100%;
        background-color: var(--bg);
        transition: bottom 400ms ease-out;
        z-index: 100;
        display: flex;
        align-items: start;
    }

    nav.show {
        top: 40px;
        height: auto;
    }

    nav.show~#overlay {
        display: block;
    }

    nav ul {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    nav .inicio-li {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    nav a {
        width: 100%;
        height: 30px;
        background: rgba(0, 0, 0, 0.1);
        padding: 5px;
    }

    #close-SideBar-btn {
        display: flex;
        padding: 10px;
    }

    #close-SideBar-btn i {
        color: var(--textColor);
        font-size: 1.5em;
    }

    /* ESCUCHAR MAS */

    .boxTitleEscuchar {
        width: 80%;
        height: 50px;
    }

    .titleEscuchar {
        font-size: 1.6rem;
    }

    .sliderSenaRa {
        height: 300px;
        width: 100%;
    }

    .boxSliderInfo {
        height: 80px;
    }

    .boxMensaje {
        padding: 0 10px;
    }

    .mensaje {
        width: 50%;
        height: auto;
        padding: 10px;
    }

    .textMensaje {
        font-size: 1rem;
    }

    .slider-navegation .btn-nav-slider {
        width: 20px;
        height: 10px;
    }


    /* ---------------------------------------------
    VISTAS AUDIOS
------------------------------------------------ */
    .title-f-view {
        width: 80%;
    }

    .title-f-view h1 {
        font-size: 1.5rem;
    }

    .view {
        width: 80%;
        height: auto;
        padding: 20px 10px;
        margin-bottom: 50px;
        gap: 10px;
    }

    #imagenAudio {
        width: 90%;
        height: 200px;
        object-fit: cover;
        border-radius: 10px;
    }

    #audio-title {
        font-size: 1.5rem;
        font-weight: bold;
    }


    #back-btn {
        background: none;
        border: none;
        color: white;
        padding: 5px;
        font-size: 2rem;
    }

    .portada {
        width: 100%;
    }

    .boxTextoActualAudio {
        width: 100%;
        height: auto;
    }

    .texto-descripcion {
        height: auto;
    }

    /* -----------------------------------------------------
        PLAYLIST FORMACIÓN
    -------------------------------------------------------- */
    .playlistAudios {
        width: 80%;
        height: auto;
        background-color: var(--color-superficie);
    }



    /* FOOTER */
    .box-footer {
        width: 90%;
        height: auto;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-top: 2px solid black;
    }

    .footer-text {
        width: 100%;
        height: auto;
    }

    .f-box-logo-sena {
        width: 90%;
        height: 100px;
    }

    .f-box-logo-sena img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .f-box-logos-icontec {
        width: 90%;
        height: 100px;
    }

    .f-box-logos-icontec img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1100px) {

    /* NavBar fijada en la parte inferior de la pagina */
    .boxNavBar {
        width: 100%;
        height: auto;
        position: fixed;
    }

    nav {
        width: 100%;
        height: 88px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }

    nav ul {
        width: 100%;
        height: auto;
        list-style: none;
        padding: 10px;
    }

    .btn-nav {
        display: none;
    }

    nav li {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    nav a {
        padding: 2px;
        font-size: 0.7rem;
    }

    main {
        position: relative;
        top: 196px;
    }

    .sliderSenaRa {
        height: 400px;
        width: 100%;
    }

    .boxSliderInfo {
        height: 100px;
    }

    .boxMensaje {
        padding: 0 10px;
    }

    .mensaje {
        width: 50%;
        height: auto;
        padding: 20px;
    }

    .textMensaje {
        font-size: 1.3rem;
    }


    /* ---------------------------------------
        VISTAS AUDIOS
    ------------------------------------------ */
    .title-f-view {
        width: 90%;
    }

    .view {
        width: 90%;
        height: auto;
        padding: 0;
        margin-bottom: 50px;
    }

    .imgAudioInfo {
        width: 80%;
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }

    #audio-title {
        font-size: 1.3rem;
        font-weight: bold;
        text-align: center;
    }

    #imagenAudio {
        width: 100%;
        height: 200px;
        object-fit: contain;
    }

    .infoAudio {
        width: 100%;
        height: auto;
        padding: 20px;
    }


    /* -----------------------------------------------------
    PLAYLIST FORMACIÓN
    -------------------------------------------------------- */
    .playlistAudios {
        width: 90%;
        height: auto;
    }


    /* FOOTER */
    .box-footer {
        width: 90%;
        height: auto;
        padding: 10px;
        display: flex;
        align-items: center;
        border-top: 2px solid black;
    }

    .f-box-logo-sena {
        width: 100%;
        height: 100px;
    }

    .f-box-logo-sena img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .f-box-logos-icontec {
        width: 100%;
        height: 100px;
    }

    .f-box-logos-icontec img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}