
main{
    padding: 20px 0;
}

/* ---------------------------------------------
    VISTAS AUDIOS
------------------------------------------------ */
.title-f-view{
    width: 980PX;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    padding-top: 50px;
}
.title-f-view h1{
    font-size: 2rem;
    font-weight: bold;
    color: var(--primerColor);
    border-top: 2PX solid var(--textColor);
    padding: 20px 0 20px 0;
}
.view {
    width: 980px;
    height: auto;
    background-color: var(--color-superficie);
    padding: 20px 10px;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.boxAudio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    width: 100%;
    height: auto;
}

#imagenAudio {
    width: 400px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.infoAudio {
    width: 80%;
    height: auto;
    padding: 20px;
}

.infoAudio p {
    color: var(--textColor);
}

.imgAudioInfo {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}


#back-btn {
    background: none;
    border: none;
    color: var(--primerColor);
    padding: 5px;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    width: 100px;
    height: 40px;
    transition: all .5s;
}

#back-btn:hover {
    font-size: 2.3rem;
}

#audio-title {
    color: var(--primerColor);
    font-size: 2rem;
    font-weight: bold;
}


@media only screen and (max-width: 600px) {
    #theme-switch {
        width: 50px;
    }

    .boxLogos {
        position: relative;
        top: -88px;
    }

    .boxSENAyGov {
        width: 100%;
        height: 110px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 5px;
        z-index: 2;
    }

    .boxSENAyGov.abajo {
        position: fixed;
        background-color: var(--bg);
        display: flex;
        flex-direction: row;
        top: 40px;
        height: 100px;
        z-index: 10;
    }

    .senaLogo {
        width: 60px;
        height: 60px;
    }

    .senaLogo img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        z-index: 1;
    }

    .govLogo {
        width: 100px;
        height: auto;
        padding: 50px 0;
    }

    .govLogo img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    /* ---------------------------------------------
        NAVBAR
    ------------------------------------------------*/
    /* Navegación en la parte inferior de la web */

    #open-SideBar-btn {
        display: flex;
        background-color: var(--bg);
        height: 40px;
        position: fixed;
        top: 144px;
        z-index: 100;
        width: 100%;
    }

    .boxNavBar {
        width: 100%;
        height: auto;
        position: absolute;
        top: 39px;
    }

    nav {
        position: fixed;
        bottom: -100%;
        top: -100%;
        height: 100%;
        width: 100%;
        background-color: var(--bg);
        transition: bottom 400ms ease-out;
        z-index: 100;
        display: flex;
        align-items: start;
    }

    nav.show {
        top: 40px;
        height: auto;
    }

    nav.show~#overlay {
        display: block;
    }

    nav ul {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    nav .inicio-li {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    nav a {
        width: 100%;
        height: 30px;
        background: rgba(0, 0, 0, 0.1);
        padding: 5px;
    }

    #close-SideBar-btn {
        display: flex;
        padding: 10px;
    }

    #close-SideBar-btn i {
        color: var(--textColor);
        font-size: 1.5em;
    }


    /* ----------------------------------------------
        BARRA DE BUSQUEDA
    ------------------------------------------------- */
    .formUp {
        width: 40%;
        background-color: rgba(0, 0, 0, 0.1);
        display: flex;
        overflow: hidden;
    }

    .inputSearch {
        width: 100%;
    }

    .boxMensaje {
        width: 100%;
        height: auto;
        padding-left: 0;
    }

    .boxMensaje i {
        font-size: 2rem;
    }

    .mensaje {
        width: 50%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 0;
        padding: 10px;
    }

    .textMensaje {
        font-size: 1.2rem;
        font-weight: 600;
        color: var(--textColorTwo);
    }

    /* ESCUCHAR MAS */

    .boxTitleEscuchar {
        width: 80%;
        height: 50px;
    }

    .titleEscuchar {
        font-size: 1.6rem;
    }

    .sliderSenaRa {
        height: 300px;
        width: 100%;
    }

    .boxSliderInfo {
        height: 80px;
    }

    .boxMensaje {
        padding: 0 10px;
    }

    .mensaje {
        width: 50%;
        height: auto;
        padding: 10px;
    }

    .textMensaje {
        font-size: 1rem;
    }

    .slider-navegation .btn-nav-slider {
        width: 20px;
        height: 10px;
    }


    /* ---------------------------------------------
    VISTAS AUDIOS
------------------------------------------------ */
    .title-f-view {
        width: 80%;
    }

    .title-f-view h1 {
        font-size: 1.5rem;
    }

    .view {
        width: 80%;
        height: auto;
        padding: 20px 10px;
        margin-bottom: 50px;
        gap: 10px;
    }

    #imagenAudio {
        width: 90%;
        height: 200px;
        object-fit: cover;
        border-radius: 10px;
    }

    #audio-title {
        font-size: 1.5rem;
        font-weight: bold;
    }


    #back-btn {
        background: none;
        border: none;
        color: white;
        padding: 5px;
        font-size: 2rem;
    }

    /* FOOTER */
    .box-footer {
        width: 90%;
        height: auto;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-top: 2px solid black;
    }

    .footer-text {
        width: 100%;
        height: auto;
    }

    .f-box-logo-sena {
        width: 90%;
        height: 100px;
    }

    .f-box-logo-sena img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .f-box-logos-icontec {
        width: 90%;
        height: 100px;
    }

    .f-box-logos-icontec img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1100px) {

    .boxSENAyGov.abajo {
        background-color: white;
        position: fixed;
        top: 39px;
        height: 100px;
    }

    /* ----------------------------------------------
        BARRA DE BUSQUEDA
    ------------------------------------------------- */
    .formUp {
        width: 40%;
    }

    .inputSearch {
        width: 100%;
    }


    /* NavBar fijada en la parte inferior de la pagina */
    .boxNavBar {
        width: 100%;
        height: auto;
        position: fixed;
    }

    nav {
        width: 100%;
        height: 88px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }

    .navAbajo {
        position: fixed;
        top: 136px;
        background-color: white;
        border-top: 1px solid black;
    }

    nav ul {
        width: 100%;
        height: auto;
        list-style: none;
        padding: 10px;
    }

    .btn-nav {
        display: none;
    }

    nav li {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    nav a {
        padding: 2px;
        font-size: 0.7rem;
    }

    main {
        position: relative;
        top: 196px;
    }

    .sliderSenaRa {
        height: 400px;
        width: 100%;
    }

    .boxSliderInfo {
        height: 100px;
    }

    .boxMensaje {
        padding: 0 10px;
    }

    .mensaje {
        width: 50%;
        height: auto;
        padding: 20px;
    }

    .textMensaje {
        font-size: 1.3rem;
    }


    /* ---------------------------------------
        VISTAS AUDIOS
    ------------------------------------------ */
    .title-f-view {
        width: 90%;
    }

    .view {
        width: 90%;
        height: auto;
        padding: 0;
        margin-bottom: 50px;
    }

    .imgAudioInfo {
        width: 80%;
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }

    #audio-title {
        font-size: 1.3rem;
        font-weight: bold;
        text-align: center;
    }

    #imagenAudio {
        width: 100%;
        height: 200px;
        object-fit: contain;
    }

    .infoAudio {
        width: 100%;
        height: auto;
        padding: 20px;
    }



    /* FOOTER */
    .box-footer {
        width: 90%;
        height: auto;
        padding: 10px;
        display: flex;
        align-items: center;
        border-top: 2px solid black;
    }

    .f-box-logo-sena {
        width: 100%;
        height: 100px;
    }

    .f-box-logo-sena img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .f-box-logos-icontec {
        width: 100%;
        height: 100px;
    }

    .f-box-logos-icontec img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}